<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="JGL" type="JGL.Configuration.JGLConfigurationSection" />
	<!--		<sectionGroup></sectionGroup>-->
	</configSections>

	<!-- Configuration section-handler declaration area. -->

	<!-- Configuration section settings area. -->
	<JGL>
	 	<debug>
	 		<defaultSourceConfig>
	 			<listeners></listeners>
	 		</defaultSourceConfig>
	 		<autoTraceSource name="JGL" />
	 	</debug>
	 </JGL>
  <!-- Other configuration settings, such as system.web -->
</configuration>

<!--  <pageAppearanceGroup>
    <pageAppearance remoteOnly="true">
      <font name="TimesNewRoman" size="18"/>
      <color background="000000" foreground="FFFFFF"/>
    </pageAppearance>
  </pageAppearanceGroup>-->

